body.register-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/public/images/register-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 220vh;
  height: 100vh;
  display: flex; /* Centers the content vertically and horizontally */
  align-items: center;
  justify-content: center;
}

.register-container {
  max-width: 450px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7); /* Medium transparency (70% opaque) */
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1; 
}

.register-container h1 {
  text-align: center;
  color: #333;
}

.register-container .form-group {
  margin-bottom: 15px;
}

.register-container label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.register-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.register-container .form-group1 input {
  width: 25rem;
  padding: 10px;
}

.register-container input.validation-error,
.register-container select.error {
  border-color: #e74c3c;
  box-shadow: 0 0 5px #e74c3c;
}

.register-container .error-text {
  color: #e74c3c;
  font-size: 12px;
}

.register-container .btn-primary {
  width: 100%;
  padding: 10px;
  background: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-container button:disabled {
  background: #95a5a6;
  cursor: not-allowed;
}

.register-container button:hover:not(:disabled) {
  background: green;
}

.register-container .regsiter-footer {
  margin-top: 1rem;
}

.register-container .login-link {
  color: #551a8b;
  text-decoration: none;
  font-size: 0.9rem;
}

.register-container .login-link:hover {
  text-decoration: underline;
}

